test/*/deployment/
test/*/.classpath
test/*/.project
test/*/*.lock
test/*/*.launch
test/*/javasource/
test/*/.mendix-cache/
test/*/.svn/
nbproject/
node_modules/
*.bak
*.bat
.vscode/
tsconfig.json
tsd.json
